version: '2'
services:

{% for service_name, service_config in services.items() %}
  {{ service_name }}:
{% for key, value in service_config.items() %}
{% if key != 'proxied' %}
{% if value is mapping %}
    {{ key }}:
{% for sub_key, sub_value in value.items() %}
{% if sub_value is mapping %}
      {{ sub_key }}:
{% for sub_sub_key, sub_sub_value in sub_value.items() %}
        {{ sub_sub_key }}: {{ sub_sub_value }}
{% endfor %}
{% else %}
      {{ sub_key }}: {{ sub_value }}
{% endif %}
{% endfor %}
{% else %}
    {{ key }}: {{ value }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

### Docker Networks
networks:
{% for network_name, network_config in networks.items() %}
  {{ network_name }}:
{% for key, value in network_config.items() %}
{% if value is mapping %}
    {{ key }}:
{% for sub_key, sub_value in value.items() %}
{% if sub_value is mapping %}
      {{ sub_key }}:
{% for sub_sub_key, sub_sub_value in sub_value.items() %}
        {{ sub_sub_key }}: {{ sub_sub_value }}
{% endfor %}
{% else %}
      {{ sub_key }}: {{ sub_value }}
{% endif %}
{% endfor %}
{% else %}
    {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

### Docker Volumes
volumes:
{% for volume_name, volume_driver in volumes.items() %}
  {{ volume_name }}:
{% for key, value in volume_driver.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endfor %}

