defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend http-{{ app }}
  bind :8080

{% for container in container_info.results %}
  {% set container_name = container.container.Name | regex_replace('^/', '') %}
  ##### route to {{ container_name }} docker #####
  acl {{ container_name }} hdr(host) -i {{ container_name }}.rdprod.org
  use_backend {{ container_name }}-rdmaster-bck if {{ container_name }}
{% endfor %}

{% for container in container_info.results %}
  {% set container_name = container.container.Name | regex_replace('^/', '') %}
  {% set ip_address = container.container.NetworkSettings.Networks.opt_elastic.IPAddress %}
  {% set port = (container.container.HostConfig.PortBindings | dict2items)[0].key | regex_replace('/tcp', '') %}

backend {{ container_name }}-rdmaster-bck
  server {{ container_name }} {{ ip_address }}:{{ port }}
{% endfor %}

####
