global
        log /dev/log    local0
        log /dev/log    local1 notice
        log /dev/log    local2 debug
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats socket 127.0.0.1:14567
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

listen stats
   bind 0.0.0.0:14567
   stats enable
   stats uri /stats
   stats auth admin:admin

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend http-in
  bind :8080

##### route to homebridge docker ####
  acl homebridge hdr(host) -i homebridge.rdprod.org
  use_backend homebridge-rdmaster-bck if homebridge
#### route to freebox admin ####
  acl freebox-admin hdr(host) -i freebox.rdprod.org
  use_backend freebox-admin-bck if freebox-admin
#### route to plex ####
  acl plex hdr(host) -i plex.rdprod.org
  use_backend plex-bck if plex
#### route to transmission ####
  acl transmission hdr(host) -i transmission.rdprod.org
  use_backend transmission-bck if transmission

{% for container in container_info.results %}
  {% set container_name = container.container.Name | regex_replace('^/', '') %}
  ##### route to {{ container_name }} docker #####
  acl {{ container_name }} hdr(host) -i {{ container_name }}.rdprod.org
  use_backend {{ container_name }}-rdmaster-bck if {{ container_name }}
{% endfor %}
#### route default to homepage ####
  default_backend default_backend

{% for container in container_info.results %}
  {% set container_name = container.container.Name | regex_replace('^/', '') %}
  {% set ip_address = container.container.NetworkSettings.Networks.opt_elastic.IPAddress %}
  {% set port = (container.container.HostConfig.PortBindings | dict2items)[0].key | regex_replace('/tcp', '') %}

backend {{ container_name }}-rdmaster-bck
  server {{ container_name }} {{ ip_address }}:{{ port }}
{% endfor %}

backend homebridge-rdmaster-bck
  server rdmaster 192.168.0.53:8581

backend freebox-admin-bck
  server freebox 192.168.0.254:80

backend plex-bck
  server plex 192.168.0.53:32400

backend transmission-bck
  server tranmission 192.168.0.53:9091

backend default_backend
  mode http
  errorfile 503 /etc/haproxy/index.http

####
