#!/bin/bash

echo "Starting backup script..." >> rclone.log

# Backup directories
for i in afp elastic esdata gitlab grafdata homeassist homebridge kbdata registry uptime-kuma vaultdata transmission plexdata
do
    echo "Backing up directory $i..." >> rclone.log
    rclone sync {{ backup_dir }}/$i {{ remote_name }}/$i --copy-links 2>&1 | tee -a /var/log/rclone.log
done

# Backup files
for y in docker-compose-rdprod-services.yml docker-compose-registry.yml
do
    echo "Backing up file $y..." >> rclone.log
    rclone sync {{ backup_dir }}/$y {{ remote_name }}/ --copy-links 2>&1 | tee -a /var/log/rclone.log
done

echo "Backup script completed." >> rclone.log
